.logo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../../assets/os-bg.jpg) no-repeat center / cover;
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: inherit;
    background-color: rgba(255, 255, 255, 0.72);
    // background: url(../../assets/os-bg.jpg) no-repeat center / cover;
    filter: saturate(180%) blur(15px);
  }
  .center-box {
    z-index: 1;
    .avatar {
      margin-bottom: 20px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
    .user-name {
      margin-bottom: 20px;
      font-size: 36px;
    }
    .password {
      display: flex;
      border: 2px solid #ccc;
      &-input{
        padding: 6px 10px;
        width: 200px;
        font-size: 16px;
        // border: 1px solid #e5e6e7;
        border: none;
        outline: none;
      }
      .confirm{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 36px;
        height: 36px;
        background: rgba(55, 65, 81, 0.6);
      }
    }
    .tip{
      line-height: 20px;
      font-size: 14px;
      color: #fff;
    }
  }
  .bottom-box{
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-list{
      display: flex;
      width: 200px;
      justify-content: space-between;
      .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        .bg{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: rgba(55, 65, 81);
        }
      }
    }
  }
}
